
@{
    ViewBag.Title = "KuWeiTu_Line_Details_View";
    Layout = "~/Views/Shared/_Layout_2018.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/table-alert")
    @Styles.Render("~/Content/table-alert")

    @*<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap-select-zh_CN.js" type="text/javascript"></script>*@
    <script src="~/Scripts/Bk_Ckxx/KuWeiTu_detailed.js" type="text/javascript"></script>


}

<div class="table-responsive">

    <table class="table table-bordered table-hover">
        <caption><h3 style="text-align:left;">@ViewBag.phmc </h3></caption>
        <thead>
            <tr>
                <th>层数</th>
                @Html.Raw(ViewBag.Th)
            </tr>
        </thead>
        <tbody>
            @Html.Raw(ViewBag.Tr)

        </tbody>
    </table>
</div>

<table id="ArbetTable"></table>
