@model db_models.phzbdy
@{
    Layout = null;
}


<script src="~/Scripts/jquery.form.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $('#appform').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                phgz: {
                    message: '配货钢种不能为空',
                    validators: {
                        notEmpty: {
                            message: '配货钢种不能为空'
                        },
                        remote: {
                            url: '/Bk_Ckxx/PhZbDy_Exists',//验证地址
                            message: '配货钢种和配货组别已存在',//提示消息
                            delay: 1000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                            type: 'POST',//请求方式
                            data: {
                                name1: function () {
                                    return $('input[name="phgz"]').val()
                                },
                                name2: function () {
                                    return $('input[name="phzb"]').val()
                                },
                                id: $('#zdbh').val()
                            }
                        },
                    }
                },
                phzb: {
                    message: '配货组别不能为空',
                    validators: {
                        notEmpty: {
                            message: '配货组别不能为空'
                        },
                        remote: {
                            url: '/Bk_Ckxx/PhZbDy_Exists',//验证地址
                            message: '配货钢种和配货组别已存在',//提示消息
                            delay: 1000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                            type: 'POST',//请求方式
                            data: {
                                name1: function () {
                                    return $('input[name="phgz"]').val()
                                },
                                name2: function () {
                                    return $('input[name="phzb"]').val()
                                },
                                id: $('#zdbh').val()
                            }
                        },
                    }
                },
                dyzb: {
                    validators: {
                        notEmpty: {
                            message: '对应组别不能为空'
                        }
                    }
                },
                dyph: {
                    validators: {
                        notEmpty: {
                            message: '对应批号不能为空'
                        }
                    }
                }
            }
        });

        var options = {
            success: function (data) {
                //debugger;
                swal(data.info, data.mess, data.status == 1 ? "success" : "error");
                if (data.status == 1) {
                    ModalHide();
                }
            },
            error: function (result) {
                //debugger;
                //alert(result.responseText);
                swal("数据保存失败！", result.responseText.substring(0, 100), "error");
            }
        };

        $("#btn_save").click(function () {
            $("#appform").bootstrapValidator('validate');
            var bootstrapValidator = $("#appform").data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                var flag2 = $('#appform').data("bootstrapValidator").isValid();
                if (flag2) {
                    swal({
                        title: "保存确认"
                        , text: "是否保存数据？"
                        , type: "info"
                        , cancelButtonText: "取消"
                        , confirmButtonText: "保存！"
                        , showCancelButton: true
                        , closeOnConfirm: false
                        , showLoaderOnConfirm: true,
                    }, function () {
                        $("#appform").ajaxSubmit(options);
                    }
                    );
                }
            }
        });

        $('#cklx').selectpicker({});
        $('#ckzt').selectpicker({});

        if ($("#zdbh").val() != "") {
            setTimeout(function () {
                $("#appform").bootstrapValidator('validate');
                var bootstrapValidator = $("#appform").data('bootstrapValidator');
                bootstrapValidator.validate();
                bootstrapValidator.isValid();
            }, 500);
        }

    });
</script>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3>维护</h3>
</div>


<form action="/Bk_Ckxx/PhZbDy_Save" method="post" name="appform" id="appform">
    <div class="modal-body">
        <div class="form-group">
            <label>配货钢种</label>
            <input type="text" class="form-control" name="phgz" id="phgz" value="@Model.phgz" />
        </div>
        <div class="form-group">
            <label>配货组别</label>
            <input type="text" class="form-control" name="phzb" id="phzb" value="@Model.phzb" />
        </div>
        <div class="form-group">
            <label>对应组别</label>
            <input type="text" class="form-control" name="dyzb" value="@Model.dyzb" />
        </div>
        <div class="form-group">
            <label>对应批号</label>
            <input type="text" class="form-control" name="dyph" value="@Model.dyph" />
        </div>
        <input type="text" class="form-control" name="zdbh" id="zdbh" value="@Model.zdbh" style="visibility: hidden" />
    </div>
</form>

<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default" id="btn_save">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
</div>
