@model BK_MES_MVC.Areas.TechnicalQuality.Models.djdm_common
@{
    ViewBag.Title = "Modal_djdm";
    Layout = null;
}

<script src="~/Scripts/jquery.form.js" type="text/javascript"></script>
<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap-select-zh_CN.js" type="text/javascript"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3></h3>
</div>

<form action="/LevelCode/Insert_djdm" method="post" name="appform" id="appform" onsubmit="return false;">
    <div class="modal-body">
        <div class="form-group" style="display:none">
            <input type="text" class="form-control" name="zdbh" id="zdbh" value="@Model.zdbh" />
        </div>

        <div class="form-group">
            <label>产品名称</label>
            @Html.DropDownListFor(m => m.cpmcbh, (List<SelectListItem>)ViewBag.cpmcb, "请选择产品名称", new { @class = "selectpicker form-control", data_style = "btn-white", data_live_search = "true", data_size = "5" })
        </div>

        <div class="form-group">
            <label>等级代码</label>
            <input type="text" class="form-control" name="djdm" id="djdm" value="@Model.djdm" style="text-transform:uppercase;"/>
        </div>

        <div class="form-group">
            <label>钢号</label>
            <input type="text" class="form-control" name="gh" id="gh" value="@Model.gh" style="text-transform:uppercase;"/>
        </div>

        <div class="form-group">
            <label>组别</label>
            @Html.DropDownListFor(m => m.zbbh, (List<SelectListItem>)ViewBag.zbb, "请选择组别", new { @class = "selectpicker form-control", data_style = "btn-white", data_live_search = "true", data_size = "5" })
        </div>
    </div>
</form>

<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default" id="btn_save">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
</div>

<script>

    $(function () {

        if ($('#zdbh').val() == 0) {$('h3').text("等级代码添加");} else {$('h3').text("等级代码编辑");}

        $('#appform').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                cpmc: {
                    validators: {
                        notEmpty: {
                            message: '产品名称不能为空'
                        }
                    }
                }
                , gh: {
                    validators: {
                        notEmpty: {
                            message: '钢号不能为空'
                        }
                    }
                }
                , djdm: {
                    validators: {
                        notEmpty: {
                            message: '等级代码不能为空'
                        }
                    }
                }
                , zb: {
                    validators: {
                        notEmpty: {
                            message: '组别不能为空'
                        }
                    }
                }
            }
        });

        $("#btn_save").click(function () {
            $("#appform").bootstrapValidator('validate');
            var bootstrapValidator = $("#appform").data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                swal({
                    title: "保存确认"
                    , text: "是否保存数据？"
                    , type: "info"
                    , cancelButtonText: "取消"
                    , confirmButtonText: "保存！"
                    , showCancelButton: true
                    , closeOnConfirm: false
                    , showLoaderOnConfirm: true,
                }, function () {
                    $("#appform").ajaxSubmit(options);
                });
            }
        });


        var options = {
            success: function (data) {
                swal(data.Result == true ? "success" : "error");
                if (data.Result == true) {
                    ModalHide();
                }
            },
            error: function (result) {
                swal("数据保存失败！", result.responseText.substring(0, 100), "error");
            }
        };

    });

    //激活下拉框
    $('#cpmcbh').selectpicker({});
    $('#zbbh').selectpicker({});

</script>

